* {
  padding: 0;
  margin: 0;
}

body {
  overflow: hidden;
}
@import url('https://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope|Barrio|Clicker+Script|Coiny|Eater|Fascinate|Finger+Paint|Indie+Flower|MedievalSharp|Megrim|Merienda+One|Molle:400i|Mountains+of+Christmas|Plaster|Poiret+One|Righteous|Rock+Salt|Shojumaru|Snowburst+One|Trade+Winds&display=swap');