* {
  padding: 0;
  margin: 0;
}

body {
  overflow: hidden;
}

@font-face {
  font-family: "阿里巴巴-普惠体-Heavy";
  font-display: swap;
  src: url("//at.alicdn.com/t/webfont_kophntke4n.eot"); /* IE9*/
  src: url("//at.alicdn.com/t/webfont_kophntke4n.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("//at.alicdn.com/t/webfont_kophntke4n.woff2")
      format("woff2"),
    url("//at.alicdn.com/t/webfont_kophntke4n.woff") format("woff"),
    /* chrome、firefox */ url("//at.alicdn.com/t/webfont_kophntke4n.ttf")
      format("truetype"),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
      url("//at.alicdn.com/t/webfont_kophntke4n.svg#AlibabaPuHuiTiH")
      format("svg"); /* iOS 4.1- */
}

@font-face {
  font-family: "阿里巴巴-普惠体-Bold";
  font-display: swap;
  src: url("//at.alicdn.com/t/webfont_u4isoq9an4o.eot"); /* IE9*/
  src: url("//at.alicdn.com/t/webfont_u4isoq9an4o.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("//at.alicdn.com/t/webfont_u4isoq9an4o.woff2")
      format("woff2"),
    url("//at.alicdn.com/t/webfont_u4isoq9an4o.woff") format("woff"),
    /* chrome、firefox */ url("//at.alicdn.com/t/webfont_u4isoq9an4o.ttf")
      format("truetype"),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
      url("//at.alicdn.com/t/webfont_u4isoq9an4o.svg#Alibaba-PuHuiTi-Bold")
      format("svg"); /* iOS 4.1- */
}

@font-face {
  font-family: "杨任东竹石体-Bold";
  font-display: swap;
  src: url("//at.alicdn.com/t/webfont_77megzr88v8.eot"); /* IE9*/
  src: url("//at.alicdn.com/t/webfont_77megzr88v8.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("//at.alicdn.com/t/webfont_77megzr88v8.woff2")
      format("woff2"),
    url("//at.alicdn.com/t/webfont_77megzr88v8.woff") format("woff"),
    /* chrome、firefox */ url("//at.alicdn.com/t/webfont_77megzr88v8.ttf")
      format("truetype"),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
      url("//at.alicdn.com/t/webfont_77megzr88v8.svg#杨任东竹石体-Bold")
      format("svg"); /* iOS 4.1- */
}

@font-face {
  font-family: "站酷小薇体";
  font-display: swap;
  src: url("//at.alicdn.com/t/webfont_sciynhluk7.eot"); /* IE9*/
  src: url("//at.alicdn.com/t/webfont_sciynhluk7.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("//at.alicdn.com/t/webfont_sciynhluk7.woff2")
      format("woff2"),
    url("//at.alicdn.com/t/webfont_sciynhluk7.woff") format("woff"),
    /* chrome、firefox */ url("//at.alicdn.com/t/webfont_sciynhluk7.ttf")
      format("truetype"),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
      url("//at.alicdn.com/t/webfont_sciynhluk7.svg#站酷小薇体") format("svg"); /* iOS 4.1- */
}

@font-face {
  font-family: "阿里汉仪智能黑体";
  font-display: swap;
  src: url("//at.alicdn.com/t/webfont_fev2zfwwadm.eot"); /* IE9*/
  src: url("//at.alicdn.com/t/webfont_fev2zfwwadm.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("//at.alicdn.com/t/webfont_fev2zfwwadm.woff2")
      format("woff2"),
    url("//at.alicdn.com/t/webfont_fev2zfwwadm.woff") format("woff"),
    /* chrome、firefox */ url("//at.alicdn.com/t/webfont_fev2zfwwadm.ttf")
      format("truetype"),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
      url("//at.alicdn.com/t/webfont_fev2zfwwadm.svg#阿里汉仪智能黑体")
      format("svg"); /* iOS 4.1- */
}

@font-face {
  font-family: "站酷高端黑";
  font-display: swap;
  src: url("//at.alicdn.com/t/webfont_fqlp2etjxuc.eot"); /* IE9*/
  src: url("//at.alicdn.com/t/webfont_fqlp2etjxuc.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("//at.alicdn.com/t/webfont_fqlp2etjxuc.woff2")
      format("woff2"),
    url("//at.alicdn.com/t/webfont_fqlp2etjxuc.woff") format("woff"),
    /* chrome、firefox */ url("//at.alicdn.com/t/webfont_fqlp2etjxuc.ttf")
      format("truetype"),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
      url("//at.alicdn.com/t/webfont_fqlp2etjxuc.svg#站酷高端黑") format("svg"); /* iOS 4.1- */
}

@font-face {
  font-family: "庞门正道标题体2";
  font-display: swap;
  src: url("//at.alicdn.com/t/webfont_w57im06cdhe.eot"); /* IE9*/
  src: url("//at.alicdn.com/t/webfont_w57im06cdhe.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("//at.alicdn.com/t/webfont_w57im06cdhe.woff2")
      format("woff2"),
    url("//at.alicdn.com/t/webfont_w57im06cdhe.woff") format("woff"),
    /* chrome、firefox */ url("//at.alicdn.com/t/webfont_w57im06cdhe.ttf")
      format("truetype"),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
      url("//at.alicdn.com/t/webfont_w57im06cdhe.svg#庞门正道标题体2")
      format("svg"); /* iOS 4.1- */
}

